@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  min-width: 280px;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    min-width: 708px;
    min-height: 100px;
    padding: 0 20px 0 20px;
  }
}
@media (min-width: 1220px) {
  .nav {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
    min-width: 175px;
    border-bottom: none;
  }
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__img--pic {
  margin-right: 57px;
}
@media (min-width: 768px) {
  .nav__img--pic {
    margin-right: 20px;
  }
}

.nav__toggle {
  border: none;
  padding: 15px;
  background-image: url("../img/icons/nav__toggle-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color-light);
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.nav__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    min-width: 440px;
  }
}
@media (min-width: 1220px) {
  .nav__list {
    min-width: 480px;
  }
}

.nav__link {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav__link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 18px;
  }
}
@media (min-width: 1220px) {
  .nav__link {
    font-size: 20px;
  }
}

.nav__item {
  border-bottom: 1px solid #e6e6e6;
  padding: 22px 0 24px 0;
}
@media (min-width: 768px) {
  .nav__item {
    border-bottom: none;
  }
}

.promo__wrapper-preview {
  display: flex;
  flex-direction: column;
  background-image: url("../img/light-green-background.png"), url("../img/promo-img-cat.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 302px, auto;
}
@media (min-width: 768px) {
  .promo__wrapper-preview {
    background-image: none;
  }
}
@media (min-width: 1220px) {
  .promo__wrapper-preview {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

/*
.promo__wrapper-preview {
  &::before {
    content: "";
    display: block;
    background-size: auto;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
      url("../img/promo-img-cat.jpg");
  }
}
*/
.promo__main-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: var(--font-color-light);
  margin: 0 15px 25px 15px;
}
@media (min-width: 768px) {
  .promo__main-title {
    color: var(--primary-color);
    font-size: 60px;
    line-height: 1.2;
    margin: 0 0 41px 87px;
    min-width: 430px;
    text-align: start;
    order: 1;
  }
}

.promo__slogan {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--font-color-light);
  margin: 0 0 29px 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__slogan {
    color: var(--primary-color);
    font-size: 20px;
    line-height: 1.2;
    min-width: 430px;
    margin: 0 0 20px 87px;
    text-align: start;
    order: 2;
  }
}

.promo__programs-btn {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--font-color-light);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--bright-color);
  padding: 14px 26px;
  text-align: center;
  margin: 0 20px 20px 20px;
}
@media (min-width: 768px) {
  .promo__programs-btn {
    margin: 0 0 0 87px;
    order: 3;
    width: 244px;
    box-sizing: border-box;
  }
}

.promo__product-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .promo__product-preview {
    order: 4;
  }
}

.promo__programs-list {
  list-style-type: none;
  margin: 0 20px 0 20px;
  padding: 0;
}
@media (min-width: 1220px) {
  .promo__programs-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1220px) {
  .promo__programs-list {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.promo__programs-item {
  background-color: var(--backgroun-main-color);
  margin-bottom: 20px;
  padding: 20px;
}
@media (min-width: 768px) {
  .promo__programs-item {
    margin-bottom: 30px;
    padding: 81px 62px 53px 52px;
  }
}

.promo__programs-title {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__programs-title {
    font-size: 36px;
  }
}

.promo__programs-title--weight-loss::before {
  content: url("../img/icons/weight-loss-cat.svg");
  display: inline-block;
  margin-right: 19px;
}

.promo__programs-title--weight-gain::before {
  content: url("../img/icons/weight-gain-cat.svg");
  display: inline-block;
  margin-right: 11px;
}

.promo__programs-description {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;
  color: var(--font-color-dark);
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .promo__programs-description {
    font-size: 16px;
  }
}

.promo__programs-link {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__programs-link {
    font-size: 20px;
  }
}

.promo__programs-link::after {
  content: url("../img/icons/right-arrow-icon.svg");
  display: inline-block;
  margin-left: 15px;
}

.advantages {
  margin: 0 20px 0 20px;
}
@media (min-width: 1220px) {
  .advantages {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.advantages__main-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  margin: 15px 0 40px 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .advantages__main-title {
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 100px;
  }
}
@media (min-width: 1220px) {
  .advantages__list {
    display: flex;
    column-gap: 75px;
  }
}

.advantages__text {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.3;
  color: var(--font-color-dark);
  margin: 0;
  text-align: left;
  align-self: center;
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    width: 227px;
    align-self: flex-start;
  }
}

.advantages__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.advantages__item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background: var(--bgi) no-repeat center, var(--bright-color);
  margin-right: 20px;
}
.advantages__item--benefit {
  --bgi: url("../img/icons/benefit-icon.svg");
}
.advantages__item--convenience {
  --bgi: url("../img/icons/convenience-icon.svg");
}
.advantages__item--functionality {
  --bgi: url("../img/icons/functionality-icon.svg");
}
.advantages__item--speed {
  --bgi: url("../img/icons/speed-icon.svg");
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    padding: 40px 0 57px 0;
  }
  .advantages__item::before {
    margin-bottom: 31px;
  }
}
@media (min-width: 1220px) {
  .advantages__item {
    padding-bottom: 40px;
  }
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: var(--bg-color-light);
  }
}

.example__wrapper {
  margin: 0 20px 0 20px;
  padding-top: 66px;
}
@media (min-width: 1220px) {
  .example__wrapper {
    margin: 0;
  }
}

@media (min-width: 1220px) {
  .example__wrapper-bg {
    background-color: var(--backgroun-main-color);
  }
}

@media (min-width: 1220px) {
  .example__wrapper-centr {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 70px 0 75px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content auto auto;
    column-gap: 220px;
  }
}

.example__title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
}
@media (min-width: 1220px) {
  .example__title {
    margin: 0 20px 76px 20px;
  }
}
@media (min-width: 1220px) {
  .example__title {
    margin: 0;
  }
}

.example__text {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 20px;
  color: var(--font-color-dark);
}
@media (min-width: 1220px) {
  .example__text {
    grid-row: 2/3;
    margin: 0 0 69px 0;
    width: 440px;
  }
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}
@media (min-width: 768px) {
  .example__list {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1220px) {
  .example__list {
    margin: 0;
    padding: 0 0 55px 0;
    grid-row: 3/4;
  }
}

.example__item {
  display: grid;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 14px;
}
@media (min-width: 768px) {
  .example__item {
    width: 160px;
  }
}

.example__value {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .example__value {
    font-size: 30px;
  }
}

.example__description {
  font-family: var(--additional-font);
  font-size: 12px;
  line-height: 1.2;
  margin: 8px 0 0 0;
  color: var(--font-color-dark);
  text-align: center;
  max-width: 80px;
  margin-bottom: -20px;
  padding: 0 10px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__description {
    background-color: var(--bg-color-light);
    font-size: 14px;
    padding: 0, 5px;
    max-width: 142px;
    margin-bottom: -8px;
  }
}
@media (min-width: 1220px) {
  .example__description {
    background-color: var(--backgroun-main-color);
  }
}

.example__cost {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .example__cost {
    display: inline-block;
  }
}
@media (min-width: 1220px) {
  .example__cost {
    margin: 0;
    grid-row: 4/5;
    width: 366px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
}

@media (min-width: 1220px) {
  .example__cost-value {
    margin-right: auto;
    margin-left: auto;
  }
}

.example__slider-horizontal {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.example__slider-horizontal__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
}

@media (min-width: 1220px) {
  .location {
    position: relative;
  }
}

@media (min-width: 1220px) {
  .location__wrapper-center {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.location__wrapper {
  padding: 26px 20px 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 139px);
  justify-content: space-between;
}
@media (min-width: 768px) {
  .location__wrapper {
    padding: 60px 70px 56px 70px;
    grid-template-columns: 171px 160px;
  }
}
@media (min-width: 1220px) {
  .location__wrapper {
    position: absolute;
    background-color: var(--bg-color-light);
    padding: 56px 80px;
    margin-top: 95px;
  }
}

.location__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .location__text {
    font-size: 20px;
  }
}

.location__address {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.4;
  color: var(--font-color-dark);
  margin: 0;
}
@media (min-width: 768px) {
  .location__address {
    font-size: 16px;
    width: 160px;
    text-align: end;
  }
}

.location__map {
  display: block;
  border: none;
}

.location--wrapper-bg {
  background-color: var(--backgroun-main-color);
}

.location__empty-space {
  display: block;
}
@media (min-width: 768px) {
  .location__empty-space {
    display: block;
    height: 12px;
  }
}

.footer {
  background-color: var(--backgroun-main-color);
}

.footer__wrapper {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__wrapper {
    min-height: 147px;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
  }
}
@media (min-width: 1220px) {
  .footer__wrapper {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__logo {
  text-align: center;
  padding: 39px 0 32px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__logo {
    border: none;
  }
}

.footer__list {
  list-style-type: none;
  margin: 0;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 23px 0 23px 0;
}

.footer__link {
  padding: 5px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 22px 0;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .footer__copyright {
    border: none;
  }
}

@media (min-width: 768px) {
  .copyright__text {
    margin-right: 22px;
  }
}

.filter {
  padding-top: 27px;
  margin: 0 20px;
  margin-bottom: 32px;
}

.form__main-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 37px 0;
}
@media (min-width: 768px) {
  .form__main-title {
    font-size: 60px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1220px) {
  .form__main-title {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1220px) {
  .form__description-wrapper-center {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 39px 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__description {
    font-size: 20px;
    margin-bottom: 66px;
    width: 325px;
  }
}

@media (min-width: 1220px) {
  .form__group-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__group--programs {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__group--programs {
    border: 1px solid #e7e7e7;
    margin: 0;
    width: 630px;
  }
}
@media (min-width: 1220px) {
  .form__group--programs {
    width: auto;
  }
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form__list--pet {
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .form__list--pet {
    padding-bottom: 0;
    margin-bottom: 72px;
  }
}
@media (min-width: 1220px) {
  .form__list--pet {
    margin-bottom: 0;
  }
}

.form__list--programs {
  padding: 22px 20px 20px 20px;
}
@media (min-width: 768px) {
  .form__list--programs {
    padding: 25px 20px 12px 28px;
  }
}
@media (min-width: 1220px) {
  .form__list--programs {
    margin-bottom: 0;
  }
}

.form__list--owner {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__list--owner {
    margin-bottom: 76px;
  }
}
@media (min-width: 1220px) {
  .form__list--owner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;
    margin-bottom: 69px;
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__list--additionally {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__list--additionally {
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 61px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1220px) {
  .form__list--additionally {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__label {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--font-color-dark);
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
  }
}

.form__input::placeholder {
  color: var(--font-color-dark);
}

.form__label--additionally {
  color: var(--primary-color);
}

.form__legend {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 36px;
  }
}

.form__legend--owner {
  padding-top: 26px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__legend--owner {
    padding-top: 71px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1220px) {
  .form__legend--owner {
    padding-top: 69px;
  }
}

.form__legend--comments {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .form__legend--comments {
    margin-bottom: 76px;
  }
}

.form__legend--additionally {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__legend--additionally {
    margin-bottom: 57px;
  }
}

.form__item--pet {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .form__item--pet {
    margin-bottom: 20px;
  }
}
.form__item--pet .form__label {
  margin-right: 13px;
}
.form__item--pet .form__input {
  width: 100%;
  font-size: 16px;
  padding: 13px 15px 14px 15px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__item--pet .form__input {
    font-size: 20px;
  }
}

@media (min-width: 1220px) {
  .form__item--pet:last-child {
    margin-bottom: 0;
  }
}

.form__item--programs {
  margin-bottom: 13px;
}

.form__item--owner {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .form__item--owner {
    margin-bottom: 20px;
  }
}
.form__item--owner .form__label {
  margin-right: 13px;
}
.form__item--owner .form__input {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 13px 15px 14px 15px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__item--owner .form__input {
    font-size: 20px;
  }
}

.form__comments {
  display: block;
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  resize: none;
  border: 1px solid #e7e7e7;
  min-height: 150px;
  color: var(--font-color-dark);
  padding: 9px 10px 9px 15px;
  box-sizing: border-box;
  margin: 0 0 23px 0;
}
@media (min-width: 768px) {
  .form__comments {
    font-size: 20px;
    min-height: 174px;
    margin: 0 0 65px 0;
  }
}
@media (min-width: 1220px) {
  .form__comments {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__item--additionally {
  color: var(--primary-color);
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .form__item--additionally {
    margin-bottom: 32px;
  }
}

.form__btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .form__btn-wrapper {
    justify-content: flex-start;
  }
}
@media (min-width: 1220px) {
  .form__btn-wrapper {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__btn-submit {
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  color: var(--font-color-light);
  text-transform: uppercase;
  background-color: var(--bright-color);
  border: none;
  padding: 10px 44px;
  cursor: pointer;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form__btn-submit {
    width: 282px;
    margin-right: 61px;
  }
}
@media (min-width: 768px) {
  .form__btn-submit {
    width: 586px;
    margin-right: 81px;
  }
}

.form__tagging {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin: 21px 0 0 0;
}
@media (min-width: 768px) {
  .form__tagging {
    margin: 0;
    align-self: center;
  }
}

.products {
  padding-top: 27px;
}
@media (min-width: 768px) {
  .products {
    padding-top: 60px;
  }
}
@media (min-width: 1220px) {
  .products {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.products__main-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 49px 20px;
}
@media (min-width: 768px) {
  .products__main-title {
    font-size: 60px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1220px) {
  .products__main-title {
    margin: 0;
    margin-bottom: 82px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0 20px;
  }
}
@media (min-width: 1220px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 0;
  }
}

.products__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 20px 20px 25px 20px;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .products__item {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px 36px;
    background-color: var(--backgroun-main-color);
    margin: 0;
    border-top: none;
  }
}

.products__link-title {
  grid-column: 2/3;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  width: 90px;
  margin: 0 0 18px 0;
}
@media (min-width: 768px) {
  .products__link-title {
    width: 160px;
    align-self: center;
    text-align: center;
    font-size: 20px;
  }
}

.products__link-img {
  grid-column: 1/2;
  grid-row: 1/3;
}
@media (min-width: 768px) {
  .products__link-img {
    align-self: center;
    margin-bottom: 34px;
  }
}

.products__title {
  font-weight: 400;
  margin: 0;
}

.products__checklist {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2/1fr);
  font-family: var(--additional-font);
  font-size: 12px;
  margin: 0 0 10px 0;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .products__checklist {
    margin-bottom: 33px;
    font-size: 16px;
  }
}

.products__description {
  grid-column: 2/3;
  text-align: end;
  margin: 0;
}

.products__specification {
  grid-column: 1/2;
}

.products__button {
  grid-column: 1/3;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-light);
  background-color: var(--bright-color);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.products__item-show-more {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .products__item-show-more {
    border: 1px solid #ebebeb;
    padding: 52px 38px 38px 38px;
  }
}

.products__btn-show-more-icon {
  display: block;
  background-image: url("../img/icons/show-more-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .products__btn-show-more-icon {
    margin-bottom: 49px;
  }
}

.products__show-more-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}
@media (min-width: 768px) {
  .products__show-more-text {
    padding: 0 55px 23px 55px;
    font-size: 20px;
  }
}

.products__show-more-postmark {
  font-family: var(--additional-font);
  font-size: 16px;
  line-height: 1.3;
  color: var(--font-color-dark);
  margin: 0;
  margin-bottom: 31px;
  text-align: center;
}
@media (min-width: 768px) {
  .products__show-more-postmark {
    margin-bottom: auto;
    padding: 0 38px;
  }
}

.products__btn-show-more {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-dark);
  background-color: var(--backgroun-main-color);
  padding: 10px 0;
  text-align: center;
}

.gift {
  margin: 35px 20px;
}
@media (min-width: 1220px) {
  .gift {
    margin: 0;
    margin-top: auto;
    width: 245px;
  }
}

.gift__wrapper-background {
  background-image: url("../img/gift-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gift__wrapper {
  padding: 59px 60px 43px 59px;
}
@media (min-width: 768px) {
  .gift__wrapper {
    padding: 57px 124px 60px 77px;
  }
}
@media (min-width: 1220px) {
  .gift__wrapper {
    padding: 55px 43px 42px 41px;
  }
}

.gift__title {
  font-family: var(--additional-font);
  font-size: 16px;
  line-height: 1.3;
  color: var(--font-color-light);
  font-weight: 400;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .gift__title {
    display: flex;
    align-items: center;
    text-align: start;
  }
}
@media (min-width: 1220px) {
  .gift__title {
    flex-direction: column;
    text-align: center;
  }
}

.gift__title::before {
  content: url("../img/icons/gift-icon.svg");
  display: block;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .gift__title::before {
    margin: 0;
    margin-right: auto;
  }
}
@media (min-width: 1220px) {
  .gift__title::before {
    margin: 0;
    margin-bottom: 47px;
  }
}

.additional-products {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .additional-products {
    padding-top: 68px;
  }
}
@media (min-width: 1220px) {
  .additional-products {
    grid-column: 1/5;
    padding-top: 0;
    margin-right: 79px;
  }
}

.additional-products__main-title {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 0 0 20px;
}
@media (min-width: 768px) {
  .additional-products__main-title {
    font-size: 36px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1220px) {
  .additional-products__main-title {
    padding: 0;
  }
}

.additional-products__list {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
}
@media (min-width: 1220px) {
  .additional-products__list {
    margin: 0;
  }
}

.additional-products__item {
  padding: 13px 0 19px 0;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ebebeb;
    padding: 26px 38px 28px 38px;
  }
}
@media (min-width: 1220px) {
  .additional-products__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: none;
    border-top: 1px solid #ebebeb;
    padding: 0;
  }
}

.additional-products__item:last-child {
  border-bottom: 1px solid #ebebeb;
}

.additional-products__title {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-products__title {
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1220px) {
  .additional-products__title {
    margin: 0;
  }
}

.additional-products__wrapper {
  display: flex;
  justify-content: space-between;
}

.additional-products__specification {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--font-color-dark);
}
@media (min-width: 768px) {
  .additional-products__specification {
    font-size: 16px;
    margin-right: 50px;
  }
}
@media (min-width: 1220px) {
  .additional-products__specification {
    margin: 0;
  }
}

.additional-products__cost {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--font-color-dark);
}
@media (min-width: 768px) {
  .additional-products__cost {
    font-size: 16px;
  }
}
@media (min-width: 1220px) {
  .additional-products__cost {
    display: block;
    margin-left: auto;
  }
}

.additional-products__button {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-light);
  background-color: var(--bright-color);
  display: block;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .additional-products__button {
    width: 100%;
  }
}
@media (min-width: 1220px) {
  .additional-products__button {
    width: 244px;
    margin-left: 53px;
    margin-top: 15px;
    margin-bottom: 17px;
  }
}

:root {
  --main-font: "Oswald", sans-serif;
  --additional-font: "Arial", "Helvetica", sans-serif;
  --primary-color: #000000;
  --font-color-light: #ffffff;
  --bg-color-light: #ffffff;
  --font-color-dark: #444444;
  --bright-color: #68b738;
  --backgroun-main-color: #f2f2f2;
}

.page__body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 1220px) {
  .global-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 86px;
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
  }
}

.copyright {
  font-family: var(--additional-font);
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--font-color-dark);
}

.slider {
  grid-column: 2/3;
  grid-row: 1/5;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
  max-width: 560px;
  max-height: 512px;
}

.slider__container-img {
  max-width: 560px;
  max-height: 512px;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slider__image-befor {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider__input {
  position: absolute;
  inset: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider__line {
  position: absolute;
  inset: 0;
  width: 4px;
  height: 100%;
  background-color: #666666;
  z-index: 1;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider__button {
  position: absolute;
  display: grid;
  place-items: center;
  top: 40%;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 2;
}

.slider__button-img-arrow {
  fill: #666666;
}

.slider__button-img {
  fill: #ffffff;
}
/*# sourceMappingURL=style.css.map */