// Дополнительные товары
.additional-products {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    padding-top: 0;
    margin-right: 79px;
  }
}

.additional-products__main-title {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional-products__list {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-products__item {
  padding: 13px 0 19px 0;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ebebeb;
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: none;
    border-top: 1px solid #ebebeb;
    padding: 0;
  }
}

.additional-products__item:last-child {
  border-bottom: 1px solid #ebebeb;
}

.additional-products__title {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-products__wrapper {
  display: flex;
  justify-content: space-between;
}

.additional-products__specification {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--font-color-dark);


  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}


.additional-products__cost {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--font-color-dark);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: auto;
  }
}

.additional-products__button {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-light);
  background-color: var(--bright-color);
  display: block;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-left: 38px;
    margin-top: 15px;
    margin-bottom: 17px;
  }
}
