// Дополнительные товары
.additional-products {
  border-top: 2px solid var(--bright-color);

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.additional-products__main-title {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
  margin-top: -20px;
  background-color: #ffffff;
  width: 226px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    width: 340px;
    display: flex;
    justify-content: flex-start;
    padding: 0 37px;
    margin: -29px 0 80px 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0 35px 0 40px;
    margin-left: var(--magic-indent);
    margin-right: var(--magic-indent);
    margin-bottom: 78px;
  }
}

.additional-products__list {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 79px 0 0;
    grid-column: 1/5;
  }
}

.additional-products__item {
  padding: 11px 0 19px 0;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ebebeb;
    padding: 26px 38px 33px 38px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border: none;
    border-top: 1px solid #ebebeb;
    padding: 0;
  }
}

.additional-products__item:last-child {
  border-bottom: 1px solid #ebebeb;
}

.additional-products__title {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 11px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -2px;
  }
}

.additional-products__wrapper {
  display: flex;
  justify-content: space-between;
}

.additional-products__specification {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 12px;
  display: inline-block;
  color: var(--font-color-dark);


  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 108px;
    margin-top: 3px;
  }
}


.additional-products__cost {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--font-color-dark);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 40px;
    margin-top: 3px;
  }
}

.additional-products__button {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-light);
  background-color: var(--bright-color);
  display: block;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;

  @include button-states;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 15px 0 17px 0;
  }
}

.additional-products__global-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;

    @include centering;
    overflow: hidden;
  }
}
