// Дополнительные товары

.additional-products__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.additional-products__main-title {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
}

.additional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional-products__title {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.additional-products__specification {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--font-color-dark);
}

.additional-products__cost {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  color: var(--font-color-dark);
}

.additional-products__button {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-light);
  background-color: var(--bright-color);
  display: block;
  margin-bottom: 19px;
}
