// Ссылка HTML Academy

.copyright {
  font-family: var(--additional-font);
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--font-color-dark);
}

.copyright__text {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
