// Ссылка HTML Academy

.copyright {
  display: flex;
  align-items: center;
  font-family: var(--additional-font);
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--font-color-dark);
}

.copyright:active {
  opacity: 30%;
}

.copyright__img {
  fill: #666666;
}

.copyright:hover .copyright__img {
  fill: #68b738;
}

.copyright__text {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
