// Секция пример

.example__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
}

.example__title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
}

.example__text {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 20px;
  color: var(--bright-dark);
}

.example__list {
  margin: 0;
  margin-bottom: 20px;
}

.example__value {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.2;
}

.example__description {
  font-family: var(--additional-font);
  font-size: 12px;
  line-height: 1.2;
  color: var(--bright-dark);
  margin: 0;
}

.example__cost {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.example__slider-horizontal {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.example__slider-horizontal__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
}
