//Форма сайта

// Общие стили
.form__filter {
  padding-top: 27px;
  margin: 0 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    margin: 0 0 82px 0;
  }
}

.form__main-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 10px 70px 47px 68px;
  }

  @media (min-width: $desktop-width) {
    @include centering;
    margin-bottom: 50px;
  }
}

.form__description-wrapper-center {
  @media (min-width: $desktop-width) {
    @include centering;
  }
}

.form__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 39px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 325px;
    line-height: 1.5;
    margin: 10px 70px 66px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 66px 0;
  }
}

.form__group-wrapper {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;

    @include centering;
    margin-bottom: 69px;
  }
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__group--owner,
.form__group--comments,
.form__group--additionally {
  border-top: 2px solid var(--bright-color);
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.form__group--programs {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    width: 630px;
    margin: 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }
}

// Стили для списков
.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form__list--pet {
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin: 0 68px 72px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__list--programs {
  padding: 25px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 32px 20px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}


.form__list--owner {
  margin-bottom: 24px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 67px 65px 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;
    margin-bottom: 47px;

    @include centering;
  }
}

.form__list--additionally {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 61px;
    row-gap: 17px;
    margin: 0 70px 30px 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
    gap: 0;

    @include centering;
  }
}

.form__label {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--font-color-dark);

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form__input::placeholder {
  color: var(--font-color-dark);
}

.form__legend {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.form__legend--owner {
  margin-bottom: 45px;
  width: 187px;
  padding-right: 14px;
  transform: translateY(10px);

  @media (min-width: $tablet-width) {
    transform: translateY(-3px);
    margin-bottom: 72px;
    padding: 0 39px;
    width: auto;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-left: var(--magic-indent);
    margin-right: var(--magic-indent);
  }
}

.form__legend--comments {
  margin-bottom: 38px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    padding: 0 39px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-left: var(--magic-indent);
    margin-right: var(--magic-indent);
  }
}

.form__legend--additionally {
  margin-bottom: 34px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    padding: 0 39px;
    margin-bottom: 57px;
    margin-left: 30px;
    transform: translateY(-4px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    transform: translateY(-2px);
    margin-left: var(--magic-indent);
    margin-right: var(--magic-indent);
    margin-bottom: 59px;
  }
}

.form__item--pet {
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  .form__label {
    margin-right: 13px;

    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }
  }

  .form__input {
    font-family: var(--main-font);
    width: 100%;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    border: 1px solid #e7e7e7;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      padding: 10px 15px 10px 17px;
    }
  }
}

.form__item--pet:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__item--programs {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.form__item--owner {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  .form__label {
    margin-right: 11px;
  }

  .form__label--email {
    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  .form__label--tel {
    @media (min-width: $tablet-width) {
      margin-right: 14px;
    }
  }

  .form__input {
    font-family: var(--main-font);
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px 10px 15px;
    border: 1px solid #e7e7e7;
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      padding: 10px 40px 10px 19px;
    }
  }
}

.form__label--email {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.form__input {
  @include input-states;
}

.form__comments {
  display: block;
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  resize: none;
  border: 1px solid #e7e7e7;
  min-height: 150px;
  color: var(--font-color-dark);
  padding: 6px 10px 9px 15px;
  box-sizing: border-box;
  margin: 0 20px 23px 0;

  @include input-states;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 630px;
    font-size: 20px;
    min-height: 174px;
    margin: 0 70px 65px 70px;
    padding: 10px 10px 9px 18px;
  }

  @media (min-width: $desktop-width) {
    @include centering;
  }
}

.form__item--additionally {
  color: var(--primary-color);
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    min-width: 221px;
    margin-right: 104px;
  }
}

.form__item--additionally:last-child {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.form__btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__btn-submit {
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.2;
  color: var(--font-color-light);
  text-transform: uppercase;
  background-color: var(--bright-color);
  border: none;
  padding: 10px 44px;
  cursor: pointer;
  box-sizing: border-box;

  @include button-states;

  @media (min-width: $tablet-width) {
    width: 282px;
    font-size: 20px;
    margin-left: 71px;
    margin-right: 61px;
    padding: 14px 44px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0 81px 0 0;
  }
}

.form__tagging {
  font-family: var(--additional-font);
  font-size: 14px;
  line-height: 1.2;
  margin: 21px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    align-self: center;
  }
}

.form__control-label {
  color: var(--primary-color);
}

/*-------------------------*/
// Стили для чекбоксов и радиокнопок
.form__label--programs,
.form__label--additionally {
  position: relative;
  display: block;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 55px;
  }
}

.form__label--additionally {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__checkbox-mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
  }
}

.form__radio-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
    top: -8px;
    left: -3px;
  }
}

.form__input--additionally[type="checkbox"]:checked + .form__checkbox-mark::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/control-mark-cheackbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  top: 6px;
  left: 6px;
  width: 18px;
  height: 14px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 19px;
    top: 8px;
    left: 8px;
  }
}

.form__input--programs[type="radio"]:checked + .form__radio-mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.form__input--additionally:focus-visible + .form__checkbox-mark,
.form__input--programs:focus-visible + .form__radio-mark {
  outline: 3px solid #68b738;
  outline-offset: -3px;
}

.form__label--additionally:hover .form__checkbox-mark,
.form__label--programs:hover .form__radio-mark {
  border-color: #bababa;
}

.form__input:disabled + .form__checkbox-mark,
.form__input:disabled + .form__radio-mark {
  border-color: #bababa;
  opacity: 0.3;
}
/*-------------------------*/

/*-------------------------*/
// Иконки e-mail и телефона
.form__label--email,
.form__label--tel {
  position: relative;
}

.form__input--email {
  background-image: url("../img/icons/e-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: 93%;

  @media (min-width: $tablet-width) {
    background-position: 97%;
  }
}

.form__input--tel {
  background-image: url("../img/icons/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 94%;

  @media (min-width: $tablet-width) {
    background-position: 97%;
  }
}

.form__input--email:focus {
  background-image: url("../img/icons/e-mail-icon-focus.svg");
  background-repeat: no-repeat;
  background-position: 94%;

  @media (min-width: $tablet-width) {
    background-position: 97%;
  }
}

.form__input--tel:focus {
  background-image: url("../img/icons/phone-icon-focus.svg");
  background-repeat: no-repeat;
  background-position: 94%;

  @media (min-width: $tablet-width) {
    background-position: 97%;
  }
}

.form__input--email:invalid:not(:placeholder-shown) {
  background-image: url("../img/icons/e-mail-icon-error.svg");
  background-repeat: no-repeat;
  background-position: 94%;

  @media (min-width: $tablet-width) {
    background-position: 97%;
  }
}

.form__input--tel:invalid:not(:placeholder-shown) {
  background-image: url("../img/icons/phone-icon-error.svg");
  background-repeat: no-repeat;
  background-position: 94%;

  @media (min-width: $tablet-width) {
    background-position: 97%;
  }
}
/*-------------------------*/
