// шапка страниц
.header {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.nav__toggle {
  border: none;
  padding: 15px;
  background-image: url("../img/icons/nav__toggle-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

.header__logo {
  margin-right: 51px;
}

.logo-img {
  padding: 5px;
}

.logo-cat-energy {
  margin-right: 65px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
}

.nav__item {
  margin-bottom: 46px;
}
