//Каталог продукции
.products {
  padding-top: 27px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    @include centering;
    padding-top: 64px;
    margin-bottom: 90px;
  }
}

.products__main-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  margin: 0 0 39px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0 0 85px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 82px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 60px;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;
    margin: 0;
  }
}

.products__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 15px 20px 25px 20px;
  margin-bottom: 2px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 36px 37px 36px;
    background: linear-gradient(to top, var(--backgroun-main-color) 85%, var(--bg-color-light) 15%);
    margin: 0;
    border-top: none;
    justify-content: end;
    min-height: 511px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    padding: 0 36px 37px 40px;
  }
}

.products__link-title {
  grid-column: 2/3;
  font-family: var(--main-font);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  width: 90px;
  margin: 3px 0 14px 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 130px;
    margin: 3px 0 20px 0;
    align-self: center;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 3px 0 20px 0;
  }
}

.products__title {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;

    @media (min-width: $desktop-width) {
      line-height: 1.1;
    }
  }
}

.products__link-img {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.products__img {
  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
  }
}

.products__checklist {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--additional-font);
  font-size: 12px;
  margin: 0 0 24px 0;
  line-height: 1.2;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.products__description {
  grid-column: 2/3;
  text-align: end;
  margin: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 7px;
    margin-bottom: 6px;
  }
}

.products__specification {
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 7px;
    margin-bottom: 6px;
  }
}

.products__button {
  grid-column: 1/3;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-light);
  background-color: var(--bright-color);
  padding: 10px;
  text-align: center;
  cursor: pointer;

  @include button-states;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

// Стили для блока "Показать еще"
.products__item-show-more {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 25px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: 1px solid #ebebeb;
    padding: 45px 38px 45px 38px;
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    box-sizing: border-box;
  }
}

.products__btn-show-more-icon {
  display: block;
  background-image: url("../img/icons/show-more-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    background-image: url("../img/icons/show-more-icon-tablet.svg");
    padding: 30px;
  }
}

.products__show-more-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 55px 13px 55px;
    font-size: 20px;
    line-height: 1.1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px 13px 10px;
  }
}

.products__show-more-postmark {
  font-family: var(--additional-font);
  font-size: 12px;
  line-height: 1.3;
  color: var(--font-color-dark);
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    padding: 0 38px;
    font-size: 16px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.products__btn-show-more {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-dark);
  background-color: var(--backgroun-main-color);
  padding: 10px 0;
  text-align: center;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    opacity: 0.3;
  }
}
