// Слайдер с котом
.slider {
  grid-column: 2/3;
  grid-row: 1/5;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
  max-width: 280px;
  max-height: 256px;
}

.slider__container-img {
  max-width: 280px;
  max-height: 256px;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slider__image-befor {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider__input {
  position: absolute;
  inset: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider__line {
  position: absolute;
  inset: 0;
  width: 4px;
  height: 100%;
  background-color: #666666;
  z-index: 1;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider__button {
  position: absolute;
  display: grid;
  place-items: center;
  top: 40%;
  left: var(--position);
  transform: translateX(-50%,);
  pointer-events: none;
  z-index: 2;
}

.slider__button-img-arrow {
  fill: #666666;
}

.slider__button-img {
  fill: #ffffff;
}
