// Слайдер с котом
.slider {
  grid-column: 2/3;
  grid-row: 1/5;
  position: relative;
  width: 280px;
  height: 256px;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}


.slider-img {
  max-width: 49%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-width: 50%;
  }
}

.slider__image-befor {
  object-position: left;
}

.slider__image-after {
  object-position: right;
}

.slider__line {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  background-color: #666666;
  z-index: 1;
  transform: translateX(-50%);
}

.slider__button {
  position: absolute;
  top: 40%;
  transform: translateX(-46%);
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
}

.slider__button-img-arrow {
  fill: #666666;
}

.slider__button-img {
  fill: #ffffff;
}

.slider__line:hover {
  background-color: #68b738;
}

.slider__button:hover .slider__button-img-arrow {
  fill: #68b738;
}
