// Глобальные стили
:root {
  // Шрифты сайта
  --main-font: "Oswald", sans-serif;
  --additional-font: "Arial", "Helvetica", sans-serif;

  // Кастомные своийства цветов сайт
  --primary-color: #000000; // Основной цвет текста
  --font-color-light: #ffffff; // Светлый цвет текста
  --bg-color-light: #ffffff; // Светлый цвет фона
  --font-color-dark: #444444; // Темный цвет текста
  --bright-color: #68b738; // Акцентный цвет
  --backgroun-main-color: #f2f2f2; // Цвет фона страницы

  // Отступы заголовков
  --magic-indent: calc(50% - 610px - 20px);
}

.page__body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.global-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;

    @include centering;
    overflow: hidden;
  }
}

