:root {
  // Шрифты сайта
  --main-font: "Oswald", sans-serif;
  --additional-font: "Arial", "Helvetica", sans-serif;
  // Основные цвет шрифта сайт
  --bright-light: #ffffff;
  --bright-dark: #444444;
}

body {
  margin: 0;
}

